@{
    ViewBag.Title = "Home";
}

<h2>@ViewBag.Title</h2>

<div>
    <h1>A little about me</h1>
    <p class="lead">
        My name is Josh Ready and I am a college graduate from the University of Kansas, combat deployed Army veteran,
        who served a tour over in Afghanistan in 2013 to 2014. While in the army I held a Top Secret Security Clearance. I am currently in the Full Stack Web Development program at Centriq and have spent time studying and honing skills in a variety of software languages ranging from the front end, middle teir, and back end languages, and am continuing to extrapolate more information from the course.
        Currently, I am working at nbkc bank conducting troubleshooting and working in UAT environments, along with maintaining rapport and business with third party vendors who are part of the Core software at the bank.

        If you have a few extra minutes I would love to go further into my background and tell you what I can bring to your team. Please feel free to look through my webpage for some of my work. Additionally, can I get your LinkedIn so I can add you?
    </p>
    
</div>
