
@{
    ViewBag.Title = "Links";
}

<h2>@ViewBag.Title</h2>

<section>
    <h3 id="classMates">Class Mates</h3>
    <div class="classLinks">
            <ul>
                <li>
                    <a class="class-link" href="http://www.ryaneutsler.com" target="_blank">Ryan Eutsler</a>
                </li>
                <li>
                    <a class="class-link" href="http://www.lukeabeauchamp.com" target="_blank">Luke Beauchamp</a>
                </li>
                <li>
                    <a class="class-link" href="http://www.isaacbeck.net" target="_blank">Isaac Beck</a>
                </li>
                <li>
                    <a class="class-link" href="http://www.jvbdev.com" target="_blank">Jose Valerio Burciaga</a>
                </li>
                <li>
                    <a class="class-link" href="http://www.a-harrison.com" target="_blank">Arianna Harrison</a>
                </li>
                <li>
                    <a class="class-link" href="http://www.ryanpflugradt.com" target="_blank">Ryan Pflugradt</a>
                </li>
                <li>
                    <a class="class-link" href="http://www.tim-lopez.com" target="_blank">Tim Lopez</a>
                </li>
                <li>
                    <a class="class-link" href="http://www.ianwhitehill.com" target="_blank">Ian Whitehill</a>
                </li>
            </ul>
    </div>
</section>